# Инициализация

Загружаем библиотеки необходимые для выполнения кода ноутбука.

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import logging

pd.set_option('max_colwidth',130)
pd.set_option('display.max_columns',None)
pd.set_option('display.precision',2)

# === ЭТАП 1 ===

# Загрузка первичных данных

Загружаем первичные данные из файлов:
- tracks.parquet
- catalog_names.parquet
- interactions.parquet

In [2]:
tracks = pd.read_parquet("tracks.parquet")
tracks

,track_id,albums,artists,genres
0,26,"[3, 2490753]",[16],"[11, 21]"
1,38,"[3, 2490753]",[16],"[11, 21]"
2,135,"[12, 214, 2490809]",[84],[11]
3,136,"[12, 214, 2490809]",[84],[11]
4,138,"[12, 214, 322, 72275, 72292, 91199, 213505, 2490809, 6007655, 17294156]",[84],[11]
...,...,...,...,...
999995,101478482,[21399811],[5540395],"[3, 75]"
999996,101490148,[21403052],[9078726],"[11, 20]"
999997,101493057,[21403883],[11865715],"[44, 75]"
999998,101495927,[21404975],[4462686],"[3, 75]"
999999,101521819,[21414638],[5056591],"[3, 75]"

In [3]:
catalog_names = pd.read_parquet("catalog_names.parquet")
catalog_names

                id   type               name
0                3  album    Taller Children
1               12  album  Wild Young Hearts
2               13  album      Lonesome Crow
3               17  album      Graffiti Soul
4               26  album     Blues Six Pack
...            ...    ...                ...
1812466  101478482  track            На лицо
1812467  101490148  track    Без капли мысли
1812468  101493057  track           SKITTLES
1812469  101495927  track             Москва
1812470  101521819  track             Вокзал

[1812471 rows x 3 columns]

In [4]:
interactions = pd.read_parquet("interactions.parquet")
interactions

     user_id   track_id  track_seq started_at
0          0      99262          1 2022-07-17
1          0     589498          2 2022-07-19
2          0     590262          3 2022-07-21
3          0     590303          4 2022-07-22
4          0     590692          5 2022-07-22
..       ...        ...        ...        ...
287  1374582   95514767        288 2022-12-29
288  1374582   97220301        289 2022-12-29
289  1374582   97241171        290 2022-12-29
290  1374582   98542641        291 2022-12-29
291  1374582  100736375        292 2022-12-30

[222629898 rows x 4 columns]

# Обзор данных

Проверяем данные, есть ли с ними явные проблемы.

In [5]:
for i in [tracks, catalog_names, interactions]:
    print(i.info(),'\nПропуски:\n',i.isna().sum(),'\n')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 4 columns):
 #   Column    Non-Null Count    Dtype
---  ------    --------------    -----
 0   track_id  1000000 non-null  int64
 1   albums    1000000 non-null  object
 2   artists   1000000 non-null  object
 3   genres    1000000 non-null  object
dtypes: int64(1), object(3)
memory usage: 30.5+ MB
None
Пропуски:
 track_id    0
albums      0
artists     0
genres      0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1812471 entries, 0 to 1812470
Data columns (total 3 columns):
 #   Column  Dtype
---  ------  -----
 0   id      int64
 1   type    object
 2   name    object
dtypes: int64(1), object(2)
memory usage: 41.5+ MB
None
Пропуски:
 id      0
type    0
name    0
dtype: int64

<class 'pandas.core.frame.DataFrame'>
Index: 222629898 entries, 0 to 291
Data columns (total 4 columns):
 #   Column      Dtype
---  ------      -----
 0   user_id     int32
 1   track_id    int32
 2   track_seq   int16
 3   started_at  datetime64[ns]
dtypes: datetime64[ns](1), int16(1), int32(2)
memory usage: 5.4 GB
None
Пропуски:
 user_id       0
track_id      0
track_seq     0
started_at    0
dtype: int64

# Выводы

Приведём выводы по первому знакомству с данными:
- есть ли с данными явные проблемы,
- какие корректирующие действия (в целом) были предприняты.

# === ЭТАП 2 ===

# EDA

Распределение количества прослушанных треков.

Наиболее популярные треки

In [ ]:
interactions.groupby('track_id',as_index=False).agg({'user_id':'count'}).sort_values(by='user_id',ascending=False)[:30]

        track_id  user_id
9098       53404   111062
483876  33311009   106921
26665     178529   101924
512157  35505245    99490
829320  65851540    86670
368072  24692821    86246
475289  32947997    85886
696106  51241318    85244
90461     795836    85042
647237  45499814    84748
779281  60292250    84471
197265   6705392    82483
571352  39257277    81978
427048  29544272    81057
6558       37384    80153
699153  51516485    78370
137673   2758009    78181
668078  47627256    76052
39466     328683    75686
757669  57921154    74733
270458  17079396    74682
682662  49961817    74637
731961  54798445    74019
744014  56204557    73426
690843  50685843    71886
504691  34976783    71335
289481  18385776    71265
350335  23559960    71110
630282  43942453    70478
427770  29611476    70330

In [22]:
tracks.explode('genres')

         track_id              albums     artists genres
0              26        [3, 2490753]        [16]     11
0              26        [3, 2490753]        [16]     21
1              38        [3, 2490753]        [16]     11
1              38        [3, 2490753]        [16]     21
2             135  [12, 214, 2490809]        [84]     11
...           ...                 ...         ...    ...
999997  101493057          [21403883]  [11865715]     75
999998  101495927          [21404975]   [4462686]      3
999998  101495927          [21404975]   [4462686]     75
999999  101521819          [21414638]   [5056591]      3
999999  101521819          [21414638]   [5056591]     75

[1656345 rows x 4 columns]

Наиболее популярные жанры

Треки, которые никто не прослушал

# Преобразование данных

Преобразуем данные в формат, более пригодный для дальнейшего использования в расчётах рекомендаций.

# Сохранение данных

Сохраним данные в двух файлах в персональном S3-бакете по пути `recsys/data/`:
- `items.parquet` — все данные о музыкальных треках,
- `events.parquet` — все данные о взаимодействиях.

# Очистка памяти

Здесь, может понадобится очистка памяти для высвобождения ресурсов для выполнения кода ниже. 

Приведите соответствующие код, комментарии, например:
- код для удаление более ненужных переменных,
- комментарий, что следует перезапустить kernel, выполнить такие-то начальные секции и продолжить с этапа 3.

# === ЭТАП 3 ===

# Загрузка данных

Если необходимо, то загружаем items.parquet, events.parquet.

# Разбиение данных

Разбиваем данные на тренировочную, тестовую выборки.

# Топ популярных

Рассчитаем рекомендации как топ популярных.

# Персональные

Рассчитаем персональные рекомендации.

# Похожие

Рассчитаем похожие, они позже пригодятся для онлайн-рекомендаций.

# Построение признаков

Построим три признака, можно больше, для ранжирующей модели.

# Ранжирование рекомендаций

Построим ранжирующую модель, чтобы сделать рекомендации более точными. Отранжируем рекомендации.

# Оценка качества

Проверим оценку качества трёх типов рекомендаций: 

- топ популярных,
- персональных, полученных при помощи ALS,
- итоговых
  
по четырем метрикам: recall, precision, coverage, novelty.

# === Выводы, метрики ===

Основные выводы при работе над расчётом рекомендаций, рассчитанные метрики.